@font-face { font-family: 'Quicksand';
             src: url('../font/Quicksand/Quicksand-Regular.ttf') format('truetype'); }

body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.slide {
	width: 100vw;
	height: 100vh;
	color: black;
	text-align: center;
}

.slide img {
    width: 18.5vw;
    height: 32vh;
	margin-top: 16vh;
}

.slide h1 {
	font-size: 70px;
}

.slide h2 {
	font-size: 50px;
}

.arrows {
    margin-left: 0vw;
    display: inline;
}

.arrows button {
    border-color: transparent;
}

.arrows img {
	margin-top: 7.5vh;
	width: 8vw;
    height: 8vh;
	border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px; 
	background-color: white;
    transition: transform 2s;
}

.arrows img:hover{
    transform: scale(1.4);
}

.bg {
    margin-top: 15vh;
    width: 100vw;
    height: 40vh;
    background-color: white;
    box-shadow: 1px 1px 10px 2px black;
}

.bg img {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    width: 25vh;
    height: 25vh;
    transition: transform 3s;
    padding: 10vh;

}

.bg img:hover {
    transform: scale(1.2, 1.2);
}

iframe{
    position:absolute;
    left:12.5vw;
    top:12.5vh;
    margin-top: 45vw;
    width: 75%;
    height:75%;
    display: inline-block;
    z-index: 100;
}
